#1.Youtube Trends Data Cleaning

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#set path
path=r'C:\Users\EliteMini HX90\OneDrive\Documents\CareerFoundry\Achievement_6'

In [3]:
#import dataset
df=pd.read_csv(os.path.join(path, '02_Data','01_Original_Data','trending_yt_videos_113_countries.csv'), index_col=False)

In [4]:
df.shape

(197757, 18)

In [5]:
df.columns

Index(['title', 'channel_name', 'daily_rank', 'daily_movement',
       'weekly_movement', 'snapshot_date', 'country', 'view_count',
       'like_count', 'comment_count', 'description', 'thumbnail_url',
       'video_id', 'channel_id', 'video_tags', 'kind', 'publish_date',
       'langauge'],
      dtype='object')

In [6]:
#rename mispelled column 
df.rename(columns={'langauge':'language'}, inplace=True)

In [7]:
df.columns

Index(['title', 'channel_name', 'daily_rank', 'daily_movement',
       'weekly_movement', 'snapshot_date', 'country', 'view_count',
       'like_count', 'comment_count', 'description', 'thumbnail_url',
       'video_id', 'channel_id', 'video_tags', 'kind', 'publish_date',
       'language'],
      dtype='object')

In [8]:
df.head()

,title,channel_name,daily_rank,daily_movement,weekly_movement,snapshot_date,country,view_count,like_count,comment_count,description,thumbnail_url,video_id,channel_id,video_tags,kind,publish_date,language
0,"Freeman HKD, Nox, Tyfah Guni - Man To Man (Off...",FreemanHKDVEVO,1,0,0,2023-11-29,ZW,659445,12525,1154,Produced By: Spirit Fingerz\nMixed &Mastered B...,https://i.ytimg.com/vi/nOjbJdw2dPs/mqdefault.jpg,nOjbJdw2dPs,UCBqFAZ41zHq5h5-7A1YpiuQ,"Freeman, HKD, Nox, Tyfah, Guni, Man, (Official...",youtube#video,2023-11-02 00:00:00+00:00,NaN
1,Nutty O - Jericho ft. BLING4 & Bagga,NuttyOVEVO,2,0,48,2023-11-29,ZW,96852,6361,795,Jericho\nby Nutty O (feat. BLING4 & Bagga) \nP...,https://i.ytimg.com/vi/7g71VmQzyD4/mqdefault.jpg,7g71VmQzyD4,UCwY1uVRu0ML4wWBm9pGZy_g,"Jericho, BLING4, Bagga, Ragga-Soca, reggae, po...",youtube#video,2023-11-23 00:00:00+00:00,NaN
2,"Kamo Mphela, Khalil Harrison & Tyler ICU - Dal...",Kamo Mphelaxx,3,0,47,2023-11-29,ZW,1236824,41518,1290,"The Official Music Video for Kamo Mphela, Khal...",https://i.ytimg.com/vi/hcqcy6cdCw8/mqdefault.jpg,hcqcy6cdCw8,UCfYbXQVQZYoISJzqBdH15Eg,"kamo mphela, tyler icu, dalie, Mnike, Amapiano...",youtube#video,2023-11-22 00:00:00+00:00,NaN
3,Garnacho UNBELIEVABLE Overhead Kick! ü§© | Evert...,Manchester United,4,1,46,2023-11-29,ZW,6607439,153575,5580,United picked up 3Ô∏è‚É£ points at Goodison Park o...,https://i.ytimg.com/vi/qgmhQZzoy1s/mqdefault.jpg,qgmhQZzoy1s,UC6yW44UGJJBvYTlfC7CRg2Q,"manchester united, mufc, man utd, manutd, mu, ...",youtube#video,2023-11-26 00:00:00+00:00,en-GB
4,Drake - First Person Shooter ft. J. Cole,DrakeVEVO,5,-1,-3,2023-11-29,ZW,19193308,858667,36413,Listen to For All The Dogs Scary Hours Edition...,https://i.ytimg.com/vi/Xty2gi5cMa8/mqdefault.jpg,Xty2gi5cMa8,UCQznUf1SjfDqx65hX3zRDiA,"Drake, First, Person, Shooter, OVO/Republic, H...",youtube#video,2023-11-15 00:00:00+00:00,en

In [9]:
df.describe()

,daily_rank,daily_movement,weekly_movement,view_count,like_count,comment_count
count,197757.000000,197757.000000,197757.000000,1.977570e+05,1.977570e+05,197757.000000
mean,25.500771,3.369292,19.905141,8.681297e+06,3.066996e+05,8041.094834
std,14.431243,19.823211,19.247727,1.851627e+07,7.169108e+05,32774.369653
min,1.000000,-49.000000,-49.000000,0.000000e+00,0.000000e+00,0.000000
25%,13.000000,-9.000000,7.000000,3.580290e+05,1.132800e+04,390.000000
50%,26.000000,-1.000000,21.000000,1.269470e+06,4.472300e+04,1193.000000
75%,38.000000,15.000000,35.000000,6.643707e+06,2.468800e+05,3855.000000
max,50.000000,49.000000,49.000000,2.335466e+08,1.576806e+07,954336.000000

In [10]:
#Check for mixed type data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)

description
video_tags
language

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\3761608629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)

In [11]:
df.dtypes

title              object
channel_name       object
daily_rank          int64
daily_movement      int64
weekly_movement     int64
snapshot_date      object
country            object
view_count          int64
like_count          int64
comment_count       int64
description        object
thumbnail_url      object
video_id           object
channel_id         object
video_tags         object
kind               object
publish_date       object
language           object
dtype: object

In [12]:
#change data types for mixed columns
df['description'] = df['description'].astype('str')

In [13]:
df['description'].dtypes

dtype('O')

In [14]:
#change data types for mixed columns
df['video_tags'] = df['video_tags'].astype('str')

In [15]:
#change data types for mixed columns
df['language'] = df['language'].astype('str')

In [16]:
#Check for missing values
df.isnull().sum()

title              0
channel_name       0
daily_rank         0
daily_movement     0
weekly_movement    0
snapshot_date      0
country            0
view_count         0
like_count         0
comment_count      0
description        0
thumbnail_url      0
video_id           0
channel_id         0
video_tags         0
kind               0
publish_date       0
language           0
dtype: int64

In [17]:
#Find duplicates
df_dups = df[df.duplicated()]

In [18]:
df_dups

Empty DataFrame
Columns: [title, channel_name, daily_rank, daily_movement, weekly_movement, snapshot_date, country, view_count, like_count, comment_count, description, thumbnail_url, video_id, channel_id, video_tags, kind, publish_date, language]
Index: []

In [19]:
df.columns

Index(['title', 'channel_name', 'daily_rank', 'daily_movement',
       'weekly_movement', 'snapshot_date', 'country', 'view_count',
       'like_count', 'comment_count', 'description', 'thumbnail_url',
       'video_id', 'channel_id', 'video_tags', 'kind', 'publish_date',
       'language'],
      dtype='object')

In [20]:
#check frequency for select columns
df['kind'].value_counts()

kind
youtube#video    197757
Name: count, dtype: int64

In [21]:
#check frequency for select columns
df['language'].value_counts()

language
nan      52518
en       37041
ar       13693
en-US    11670
es        8808
         ...
tg           1
my           1
ky           1
fr-BE        1
uz           1
Name: count, Length: 121, dtype: int64

In [22]:
#check frequency for select columns
df['country'].value_counts()

country
UA    1752
TR    1751
TW    1751
MN    1751
SE    1751
      ...
MD    1749
CY    1749
PK    1749
RO    1748
LK    1748
Name: count, Length: 113, dtype: int64

In [23]:
#create subset dropping likely unnecessary columns
df_reduced=df.drop(columns=['kind','thumbnail_url'])

In [24]:
df_reduced.shape

(197757, 16)

In [25]:
df_reduced.head()

,title,channel_name,daily_rank,daily_movement,weekly_movement,snapshot_date,country,view_count,like_count,comment_count,description,video_id,channel_id,video_tags,publish_date,language
0,"Freeman HKD, Nox, Tyfah Guni - Man To Man (Off...",FreemanHKDVEVO,1,0,0,2023-11-29,ZW,659445,12525,1154,Produced By: Spirit Fingerz\nMixed &Mastered B...,nOjbJdw2dPs,UCBqFAZ41zHq5h5-7A1YpiuQ,"Freeman, HKD, Nox, Tyfah, Guni, Man, (Official...",2023-11-02 00:00:00+00:00,nan
1,Nutty O - Jericho ft. BLING4 & Bagga,NuttyOVEVO,2,0,48,2023-11-29,ZW,96852,6361,795,Jericho\nby Nutty O (feat. BLING4 & Bagga) \nP...,7g71VmQzyD4,UCwY1uVRu0ML4wWBm9pGZy_g,"Jericho, BLING4, Bagga, Ragga-Soca, reggae, po...",2023-11-23 00:00:00+00:00,nan
2,"Kamo Mphela, Khalil Harrison & Tyler ICU - Dal...",Kamo Mphelaxx,3,0,47,2023-11-29,ZW,1236824,41518,1290,"The Official Music Video for Kamo Mphela, Khal...",hcqcy6cdCw8,UCfYbXQVQZYoISJzqBdH15Eg,"kamo mphela, tyler icu, dalie, Mnike, Amapiano...",2023-11-22 00:00:00+00:00,nan
3,Garnacho UNBELIEVABLE Overhead Kick! ü§© | Evert...,Manchester United,4,1,46,2023-11-29,ZW,6607439,153575,5580,United picked up 3Ô∏è‚É£ points at Goodison Park o...,qgmhQZzoy1s,UC6yW44UGJJBvYTlfC7CRg2Q,"manchester united, mufc, man utd, manutd, mu, ...",2023-11-26 00:00:00+00:00,en-GB
4,Drake - First Person Shooter ft. J. Cole,DrakeVEVO,5,-1,-3,2023-11-29,ZW,19193308,858667,36413,Listen to For All The Dogs Scary Hours Edition...,Xty2gi5cMa8,UCQznUf1SjfDqx65hX3zRDiA,"Drake, First, Person, Shooter, OVO/Republic, H...",2023-11-15 00:00:00+00:00,en

In [26]:
df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197757 entries, 0 to 197756
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   title            197757 non-null  object
 1   channel_name     197757 non-null  object
 2   daily_rank       197757 non-null  int64
 3   daily_movement   197757 non-null  int64
 4   weekly_movement  197757 non-null  int64
 5   snapshot_date    197757 non-null  object
 6   country          197757 non-null  object
 7   view_count       197757 non-null  int64
 8   like_count       197757 non-null  int64
 9   comment_count    197757 non-null  int64
 10  description      197757 non-null  object
 11  video_id         197757 non-null  object
 12  channel_id       197757 non-null  object
 13  video_tags       197757 non-null  object
 14  publish_date     197757 non-null  object
 15  language         197757 non-null  object
dtypes: int64(6), object(10)
memory usage: 24.1+ MB

In [27]:
#create subset with only video_id and video_tags
df_test=df_reduced[['video_id','video_tags']]

In [28]:
df_test.head()

      video_id                                         video_tags
0  nOjbJdw2dPs  Freeman, HKD, Nox, Tyfah, Guni, Man, (Official...
1  7g71VmQzyD4  Jericho, BLING4, Bagga, Ragga-Soca, reggae, po...
2  hcqcy6cdCw8  kamo mphela, tyler icu, dalie, Mnike, Amapiano...
3  qgmhQZzoy1s  manchester united, mufc, man utd, manutd, mu, ...
4  Xty2gi5cMa8  Drake, First, Person, Shooter, OVO/Republic, H...

In [29]:
df_test['video_tags']=df_test['video_tags'].str.split(',')

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_4468\1640498116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['video_tags']=df_test['video_tags'].str.split(',')

In [30]:
df_test['video_tags'].head(10)

0    [Freeman,  HKD,  Nox,  Tyfah,  Guni,  Man,  (O...
1    [Jericho,  BLING4,  Bagga,  Ragga-Soca,  regga...
2    [kamo mphela,  tyler icu,  dalie,  Mnike,  Ama...
3    [manchester united,  mufc,  man utd,  manutd, ...
4    [Drake,  First,  Person,  Shooter,  OVO/Republ...
5    [master kg,  Nkosazana Daughter,  master kg & ...
6    [Takura,  Hazvireve,  Rudo,  Handina,  (Offici...
7    [Everton;,  Everton,  Football,  Club;,  efc;,...
8    [Freeman,  HKD,  Bhanan‚Äôana,  (Official,  Audi...
9    [zimbabwe,  harare,  chitungwiza,  jahprayzah,...
Name: video_tags, dtype: object

In [31]:
#create bridge table for only tags
df_bridge=df_test.explode('video_tags')
df_bridge.head()

      video_id video_tags
0  nOjbJdw2dPs    Freeman
0  nOjbJdw2dPs        HKD
0  nOjbJdw2dPs        Nox
0  nOjbJdw2dPs      Tyfah
0  nOjbJdw2dPs       Guni

In [32]:
#trim df
df_bridge = df_bridge.loc[:, ["video_id", "video_tags"]]
df_bridge.reset_index(drop=True, inplace=True)
df_bridge.head(20)

       video_id    video_tags
0   nOjbJdw2dPs       Freeman
1   nOjbJdw2dPs           HKD
2   nOjbJdw2dPs           Nox
3   nOjbJdw2dPs         Tyfah
4   nOjbJdw2dPs          Guni
5   nOjbJdw2dPs           Man
6   nOjbJdw2dPs     (Official
7   nOjbJdw2dPs   Visualizer)
8   nOjbJdw2dPs     JungleEnt
9   nOjbJdw2dPs         World
10  nOjbJdw2dPs          Afro
11  nOjbJdw2dPs          Beat
12  nOjbJdw2dPs     Dancehall
13  7g71VmQzyD4       Jericho
14  7g71VmQzyD4        BLING4
15  7g71VmQzyD4         Bagga
16  7g71VmQzyD4    Ragga-Soca
17  7g71VmQzyD4        reggae
18  7g71VmQzyD4           pop
19  7g71VmQzyD4        collab

In [33]:
#check for missing values in subset
df_bridge.isnull().sum()

video_id      0
video_tags    0
dtype: int64

In [34]:
#check for duplicates in subset
df_bridge_dups = df_bridge[df_bridge.duplicated()]
df_bridge_dups

            video_id       video_tags
862      hcqcy6cdCw8      kamo mphela
863      hcqcy6cdCw8        tyler icu
864      hcqcy6cdCw8            dalie
865      hcqcy6cdCw8            Mnike
866      hcqcy6cdCw8   Amapiano dance
...              ...              ...
2997427  nLsTd2-BlM0          ÿ•ÿ≥ÿ±ÿßÿ¶ŸäŸÑ
2997428  nLsTd2-BlM0           ŸÅŸÑÿ≥ÿ∑ŸäŸÜ
2997429  nLsTd2-BlM0         ÿ•ÿ≥ŸÉŸÜÿØÿ±Ÿäÿ©
2997430  nLsTd2-BlM0              ÿ∫ÿ≤ÿ©
2997431  nLsTd2-BlM0        ÿ¨ŸÜÿØŸä ŸÖÿµÿ±Ÿä

[2662163 rows x 2 columns]

In [35]:
df_bridge.shape

(2997432, 2)

In [36]:
#Create subset without duplicates
df_bridge_no_dups = df_bridge.drop_duplicates()

In [37]:
df_bridge_no_dups.shape

(335269, 2)

In [38]:
df_bridge_no_dups.head(20)

       video_id    video_tags
0   nOjbJdw2dPs       Freeman
1   nOjbJdw2dPs           HKD
2   nOjbJdw2dPs           Nox
3   nOjbJdw2dPs         Tyfah
4   nOjbJdw2dPs          Guni
5   nOjbJdw2dPs           Man
6   nOjbJdw2dPs     (Official
7   nOjbJdw2dPs   Visualizer)
8   nOjbJdw2dPs     JungleEnt
9   nOjbJdw2dPs         World
10  nOjbJdw2dPs          Afro
11  nOjbJdw2dPs          Beat
12  nOjbJdw2dPs     Dancehall
13  7g71VmQzyD4       Jericho
14  7g71VmQzyD4        BLING4
15  7g71VmQzyD4         Bagga
16  7g71VmQzyD4    Ragga-Soca
17  7g71VmQzyD4        reggae
18  7g71VmQzyD4           pop
19  7g71VmQzyD4        collab

In [39]:
df_bridge_no_dups['video_tags'].value_counts()

video_tags
nan                              4632
 shorts                           400
 funny                            382
 comedy                           346
 2023                             342
                                 ...
 —Å–ø—Ä—è—Ç–∞–ª—Å—è –ø–æ–¥ –¥–æ–º–æ–º —Å—Ç—Ä–∏–º–µ—Ä–∞       1
 —à–ø–∞–Ω–∞ –¥–µ—Ä–∑–∫–æ                       1
 –¥–µ—Ä–∑–∫–æ 69                          1
 –¥–µ—Ä–∑–∫–æ                             1
 #2023                              1
Name: count, Length: 169167, dtype: int64

In [40]:
#remove nan values 
df_bridge_clean = df_bridge_no_dups[df_bridge_no_dups['video_tags'] != 'nan']
df_bridge_clean['video_tags'].value_counts()

video_tags
 shorts                          400
 funny                           382
 comedy                          346
 2023                            342
 vlog                            334
                                ...
 —Å–ø—Ä—è—Ç–∞–ª—Å—è –ø–æ–¥ –¥–æ–º–æ–º —Å—Ç—Ä–∏–º–µ—Ä–∞      1
 —à–ø–∞–Ω–∞ –¥–µ—Ä–∑–∫–æ                      1
 –¥–µ—Ä–∑–∫–æ 69                         1
 –¥–µ—Ä–∑–∫–æ                            1
 #2023                             1
Name: count, Length: 169166, dtype: int64

In [41]:
df_reduced.columns

Index(['title', 'channel_name', 'daily_rank', 'daily_movement',
       'weekly_movement', 'snapshot_date', 'country', 'view_count',
       'like_count', 'comment_count', 'description', 'video_id', 'channel_id',
       'video_tags', 'publish_date', 'language'],
      dtype='object')

In [42]:
df_reduced['title'].value_counts()

title
The GiRL survives on the island #camping #survival #bushcraft #outdoors #coffee             770
Short Friend Pranked Her First üòÇ #shorts                                                    618
ÿπÿ¥ÿ±ÿßÿ™ ÿßŸÑÿ¥ÿ®ÿßŸÜ Ÿäÿ±ÿ¥ŸÇŸàŸÜ ÿßŸÑŸÇŸàÿßÿ™ ÿßŸÑÿ•ÿ≥ÿ±ÿßÿ¶ŸäŸÑŸäÿ© ÿ®ÿßŸÑÿ≠ÿ¨ÿßÿ±ÿ© ŸÅŸä ÿ±ÿßŸÖ ÿßŸÑŸÑŸá                                 606
Tyson Fury vs. Francis Ngannou | Fight Highlights                                           599
Climbing to 10M Subscribers üèÜ                                                               588
                                                                                           ...
Abot Kamay Na Pangarap: Full Episode 366 (November 9, 2023)                                   1
FPJ's Batang Quiapo | Episode 192 (3/3) | November 9, 2023 (with Eng Subs)                    1
Showtime Online U | November 10, 2023                                                         1
Heart broken moments of Maulana Tariq Jameel #tariqjameel #molanatariqjameel #asimjameel      1
Gor Yepremyan - Sirts tam qo srti khatr (Official video)                                      1
Name: count, Length: 21318, dtype: int64

In [43]:
df_reduced['channel_name'].value_counts()

channel_name
MrBeast           1930
DaFuq!?Boom!      1187
Celine Dept       1120
HYBE LABELS       1027
Koray Zeynep       984
                  ...
SPEAK                1
‰∏âÁ´ãÂè∞Âäá SET Drama       1
INNNEWS              1
9MCOT                1
HolleTV              1
Name: count, Length: 11006, dtype: int64

In [44]:
df_reduced['description'].value_counts()

description
nan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            25470
Hey Alan Army, this is Alan Chikin Chow! Thanks for watching my video üòç\n\n#Shorts \n\nFollow me on IG for your daily dose of Chikin üê•\nIG: https://www.instagram.com/alanchikinchow\n\nSubscribe and hit the bell notification so you never miss a video! üòâ\n\nüî• WHO AM I üî•\nHey Alan Army, I'm Alan Chikin Chow!\nI'm a creator, actor & writer. My mission is to inspire a universal audience to unite through laughter and storytelling. ü§ç\n#AlanArmy                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        913
Wow!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             815
‚úîÔ∏è Subscribe to ESPN+ http://espnplus.com/youtube\n‚úîÔ∏è Get the ESPN App: http://www.espn.com/espn/apps/espn\n‚úîÔ∏è Subscribe to ESPN on YouTube: http://es.pn/SUBSCRIBEtoYOUTUBE\n‚úîÔ∏è Subscribe to NBA on ESPN on YouTube: http://bit.ly/SUBSCRIBEtoNBAonESPN\n‚úîÔ∏è Watch ESPN on YouTube TV: http://es.pn/YouTubeTV                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    804
Ripe coconut has a very dense and solid shell, which can be used without problems as a mug and even boil water. On this island, everything is valued except coconuts and everything they contain, so don‚Äôt worry about coconut water, there is more of it here than fresh water.\nüëã About me:\nhttps://linktr.ee/MShiklina\nüíãSubscribe to my social networks:\nhttps://instagram.com/marusya.shiklina\nhttps://www.tiktok.com/@marusya.shiklina\nHello üôã‚Äç‚ôÄ\nPlease leave a comment ‚úç\nThis will help my channel üíù\nAnd if you have someone to share my video with, please send it‚ùó\nAlso like my video if you liked it üëç\nAnd subscribe to my channel üì∫ :  @marusya_outdoors  \nü•∞Donations for the development of my activities and paid messages! Thank you!\nhttps://www.donationalerts.com/r/marusyashik\nüì©Send me an email if there are proposals for business cooperationüí∞\nü§ù Business cooperation with Marusya: adshiklina@gmail.com                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       770
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ...

In [45]:
#drop description column from reduced df version due to its unstructured nature
df_reduced=df_reduced.drop(columns=['description'])

In [46]:
df_reduced.columns

Index(['title', 'channel_name', 'daily_rank', 'daily_movement',
       'weekly_movement', 'snapshot_date', 'country', 'view_count',
       'like_count', 'comment_count', 'video_id', 'channel_id', 'video_tags',
       'publish_date', 'language'],
      dtype='object')

In [47]:
df_reduced['video_tags'].value_counts()

video_tags
nan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     50420
#camping, #survival, #bushcraft, #outdoors                                                                                                                                                                                                                                                                                                                                                                                                                                                                928
tibo inshape, teamshape                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   763
crash adams, crashadams, crash adams music, crashadams music, crash adams new music, crashadams new music, new crash adams video                                                                                                                                                                                                                                                                                                                                                                          727
skits, skitsful, tik tok, tik tok prank, prank wars, Funny Pranks phone, American Pranks, American Prank, prank ideas, Top prank, SMOL, 123go, fun, funny, challenge, prank, play, pranks, hacks, comedy, 5 minute crafts, la la life, troom troom, crafty panda, shorts, youtubeshorts, tutorial, DIY Tricks, TikTok Pranks, Tutorial, How To, Life Hacks, Hacks, Tricks, DIY, tricks, tiktok, tiktok compilation, family, how to, howto, xo tik tok, xo team tik tok                                    624
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
logan paul podcast, impaulsive podcast, logan paul, jake paul brother, shorts, logan paul clips, drink prime, brutally honest prime review, shark tank prime, logan paul shark tank, mark cuban tries prime, celebrity drinking prime, dallas mavericks prime, shark tank pitch                                                                                                                                                                                                                             1
lego, lego airport, airport, massive airport, big airport, big lego airport                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Fu√üball, Fussball, DFB, DFB-Pokal, DFB Pokal, Pokal, DFB-Pokal Runde 2, 2. Runde, 2. DFB-Pokal-Runde, Hauptrunde, DFB-Pokal Highlights, DFB-Pokal Zusammenfassung, Borussia Dortmund, TSG Hoffenheim, Borussia Dortmund TSG Hoffenheim, TSG Hoffenheim Borussia Dortmund, Borussia Dortmund TSG Hoffenheim Highlights, TSG Hoffenheim Borussia Dortmund Highlights, TSG Hoffenheim Dortmund Zusammenfassung, Dortmund Hoffenheim Zusammenfassung, Marco Reus Tor, Kabak rote karte, ZDF, sportstudio        1
FC Bayern M√ºnchen, Bayern Munich, FCB, FC Bayern, Fu√üball, Football, Soccer, Training, Live, Livestream, √ñffentlich, PK, Tuchel, Pressetalk, Bundesliga, Medienrunde, Press Talk, DFB Pokal, Pokal, Saarbr√ºcken, Saarbr√ºcken Bayern                                                                                                                                                                                                                                                                         1
’Ω’´÷Ä’ø’Ω ’ø’°’¥ ÷Ñ’∏ ’Ω÷Ä’ø’´ ’≠’°’©÷Ä, —Å–∏—Ä—Ç—Å —Ç–∞–º –∫–æ —Å—Ä—Ç–∏ —Ö–∞—Ç—Ä, –≥–æ—Ä –µ–ø—Ä–µ–º—è–Ω, armenian music, #Premiere, #haykakan, #yerevan, #goryepremyan, #new, #hitt, #2023                                                                                                                                                                                                                                                                                                                                                              1
Name: count, Length: 13604, dtype: int64

In [48]:
df_reduced['language'].value_counts()

language
nan      52518
en       37041
ar       13693
en-US    11670
es        8808
         ...
tg           1
my           1
ky           1
fr-BE        1
uz           1
Name: count, Length: 121, dtype: int64

In [63]:
df_bridge.shape

(2997432, 2)

In [62]:
df_bridge_clean.shape

(330637, 2)

In [49]:
# Export data to csv

df_bridge_clean.to_csv(os.path.join(path,'02_Data','02_Prepared_Data', 'yt_video_tags.csv'),index=False)

In [60]:
df.shape

(197757, 18)

In [50]:
# Export data to pkl

df.to_pickle(os.path.join(path,'02_Data','02_Prepared_Data', 'trending_yt_videos_full_checked.pkl'))

In [51]:
# Export data to pkl

df_reduced.to_pickle(os.path.join(path,'02_Data','02_Prepared_Data', 'trending_yt_videos_reduced_clean.pkl'))

In [61]:
df_reduced.shape

(197757, 15)

In [52]:
# Export data to csv

df.to_csv(os.path.join(path,'02_Data','02_Prepared_Data', 'trending_yt_videos_full_checked.csv'), index=False)

In [53]:
# Export data to csv

df_reduced.to_csv(os.path.join(path,'02_Data','02_Prepared_Data', 'trending_yt_videos_reduced_clean.csv'), index=False)

In [54]:
np.random.seed(4)
dev = np.random.rand(len(df_reduced)) <= 0.7

In [55]:
big = df_reduced[dev]
small = df_reduced[~dev]

In [56]:
big.shape

(138456, 15)

In [57]:
small.shape

(59301, 15)

In [58]:
# Export data to csv

big.to_csv(os.path.join(path,'02_Data','02_Prepared_Data', 'trending_yt_videos_reduced_big_sample.csv'), index=False)

In [59]:
# Export data to csv

small.to_csv(os.path.join(path,'02_Data','02_Prepared_Data', 'trending_yt_videos_reduced_small_sample.csv'), index=False)